{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Basic - Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <center>
    <h1>Index</h1>
    <img src="{% static 'images/django.png' %}">
    <h2>{{ course }}</h2>
    <p>{{ other }}</p>

    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
            <tr>
                <td><a href="{% url 'product' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <button onclick="test();">Clique-me</button>
    </center>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
