{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="row">
    <h1>Produtos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in products %}
                <tr>
                    <td>{{ prod.id }}</td>
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.price }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'upd_product' prod.pk%}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'del_product' prod.pk %}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
